<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Paint Box
    link(rel="stylesheet", href="/dest/css/styles.css")
  body
    nav
      ul.left
        li nail studios
        li shop polish
      ul.right
        li journal
        li 0
    section.new-nail
      h4 new nail designs
      h3 New Fall–Winter 2020 Studio Lookbook designs launch now. Meet modern, graphic manicures. 
      a(href="#") nail your look
    section.our-studios
      img(src="https://cdn.shopify.com/s/files/1/0086/4865/4895/files/PAINTBOX-UES_0030_93651217-57d7-4f10-8891-86c2dbf637bb_960x960_crop_center.jpeg?v=1592966195", alt="")
      div
        h4 our studios
        h3 Book new nails at our Soho flagship studio or our new Uptown studio.
        a(href="#") nail your look
    section.the-shop
      h4 the shop
      h3 our newest polish colors
      article.item
        img(src="https://cdn.shopify.com/s/files/1/0086/4865/4895/products/FW20Bottles_600x800_crop_center.png?v=1600137560", alt="")
        div.item__content
          p power couple | new!
          p Like Camel + Like Midnight
          p $40.00
        a(href="#") add to cart
      article.item
        img(src="https://cdn.shopify.com/s/files/1/0086/4865/4895/products/FINALFW20Bottles_600x800_crop_center.png?v=1601066936", alt="")
        div.item__content
          p power couple
          p Like Lilac + Like Muse
          p $40.00
        a(href="#") add to cart
      article.item
        img(src="https://cdn.shopify.com/s/files/1/0086/4865/4895/products/SS20POWERCOUPLE_600x800_crop_center.png?v=1585835776", alt="")
        div.item__content
          p power couple
          p Like Lush + Like Flora
          p $40.00
        a(href="#") add to cart
    section.giftcards
      h4 gift cards
      h3 Give the gift of the Paintbox Experience for a manicure that tells a story. 
      a(href="#") get gifting
    section.power-couple
      h4 newest power couple
      h3 FW20Power Couple: Like-Camel + Like Midnight
      article.items
        div
          img(src="https://cdn.shopify.com/s/files/1/0086/4865/4895/files/TIp6_6d8d6a5d-ee7c-4c94-acbc-31d08fae47d5_200x255_crop_center.png?v=1600135800", alt="")
        div
          img(src="https://cdn.shopify.com/s/files/1/0086/4865/4895/files/TIp6_6d8d6a5d-ee7c-4c94-acbc-31d08fae47d5_200x255_crop_center.png?v=1600135800", alt="")
        div
          img(src="https://cdn.shopify.com/s/files/1/0086/4865/4895/files/TIp6_6d8d6a5d-ee7c-4c94-acbc-31d08fae47d5_200x255_crop_center.png?v=1600135800", alt="")
        div
          img(src="https://cdn.shopify.com/s/files/1/0086/4865/4895/files/TIp6_6d8d6a5d-ee7c-4c94-acbc-31d08fae47d5_200x255_crop_center.png?v=1600135800", alt="")
        div
          img(src="https://cdn.shopify.com/s/files/1/0086/4865/4895/files/TIp6_6d8d6a5d-ee7c-4c94-acbc-31d08fae47d5_200x255_crop_center.png?v=1600135800", alt="")
        div
          img(src="https://cdn.shopify.com/s/files/1/0086/4865/4895/files/TIp6_6d8d6a5d-ee7c-4c94-acbc-31d08fae47d5_200x255_crop_center.png?v=1600135800", alt="")
        div
        img(src="https://cdn.shopify.com/s/files/1/0086/4865/4895/files/TIp6_6d8d6a5d-ee7c-4c94-acbc-31d08fae47d5_200x255_crop_center.png?v=1600135800", alt="")
        div
          img(src="https://cdn.shopify.com/s/files/1/0086/4865/4895/files/TIp6_6d8d6a5d-ee7c-4c94-acbc-31d08fae47d5_200x255_crop_center.png?v=1600135800", alt="")
        a(href="#") new and now
    section.blog
      article.blog__item
        img(src="https://cdn.shopify.com/s/files/1/0086/4865/4895/articles/DSC_0021_1_1280x805_crop_center.jpg?v=1602015314", alt="")
        div
          h3 Oct 26, 2020
          h4 Nails of New York: Olivia Landau
          a(href="#") read story
      article.blog__item
        div
          h3 Oct 14, 2020
          h4 Color Theroy: Discover Like Wild
          a(href="#") read story
        img(src="https://cdn.shopify.com/s/files/1/0086/4865/4895/articles/Two_by_two_collage_2_1280x805_crop_center.jpg?v=1601934852", alt="")
      article.blog__item
        img(src="https://cdn.shopify.com/s/files/1/0086/4865/4895/articles/200106_paintbox_1770_1280x805_crop_center.jpeg?v=1598528574", alt="")
        div
          h3 Oct 26, 2020
          h4 New and Now: Fall-Winter 2020 Lookbook Collection
          a(href="#") read story
    section.gallery
      .gallery__poster
        img(src="https://cdn.shopify.com/s/files/1/0086/4865/4895/files/005_32619955-632a-4584-b8e2-9cbbe6e7555b_480x480_crop_top.jpeg?v=1600129079", alt="")
      .gallery__poster
        img(src="https://cdn.shopify.com/s/files/1/0086/4865/4895/files/005_32619955-632a-4584-b8e2-9cbbe6e7555b_480x480_crop_top.jpeg?v=1600129079", alt="")  
      .gallery__poster
        img(src="https://cdn.shopify.com/s/files/1/0086/4865/4895/files/005_32619955-632a-4584-b8e2-9cbbe6e7555b_480x480_crop_top.jpeg?v=1600129079", alt="")  
      .gallery__poster
        img(src="https://cdn.shopify.com/s/files/1/0086/4865/4895/files/005_32619955-632a-4584-b8e2-9cbbe6e7555b_480x480_crop_top.jpeg?v=1600129079", alt="")  
      .gallery__poster
        img(src="https://cdn.shopify.com/s/files/1/0086/4865/4895/files/005_32619955-632a-4584-b8e2-9cbbe6e7555b_480x480_crop_top.jpeg?v=1600129079", alt="")  
      .gallery__poster
        img(src="https://cdn.shopify.com/s/files/1/0086/4865/4895/files/005_32619955-632a-4584-b8e2-9cbbe6e7555b_480x480_crop_top.jpeg?v=1600129079", alt="")  
      .gallery__poster
        img(src="https://cdn.shopify.com/s/files/1/0086/4865/4895/files/005_32619955-632a-4584-b8e2-9cbbe6e7555b_480x480_crop_top.jpeg?v=1600129079", alt="")  
      .gallery__poster
        img(src="https://cdn.shopify.com/s/files/1/0086/4865/4895/files/005_32619955-632a-4584-b8e2-9cbbe6e7555b_480x480_crop_top.jpeg?v=1600129079", alt="")  
    footer
      .footer__column
        span support
        ul
          li f.a.q
          li privacy policy
          li terms and conditions
          li accessibility
      .footer__column
        span follow us
        ul
          li instagram
          li pinterest
          li facebook
          li newsletter
      .footer__column
        span paintbox
        ul
          li our studios
          li careers
          li press
          li contact us