%miniTitle {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

%linkStyle{
  margin-top: 50px;
    padding: 20px 50px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}